/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

h1 {
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4caf50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Estilos para las celdas con diferentes estados */
.presente {
    background-color: #28a745; /* Verde */
    color: white; /* Texto blanco */
    font-weight: bold; /* Negrita para destacar */
}

.ausente {
    background-color: #dc3545; /* Rojo */
    color: white; /* Texto blanco */
    font-weight: bold; /* Negrita para destacar */
}

.tardanza {
    background-color: #ffc107; /* Amarillo */
    color: black; /* Texto negro */
    font-weight: bold; /* Negrita para destacar */
}



