/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

header, footer {
    text-align: center;
    padding: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

h1 {
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4caf50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Estilos para las celdas con diferentes estados */
.presente {
    background-color: #28a745; /* Verde */
    color: white; /* Texto blanco */
    font-weight: bold; /* Negrita para destacar */
}

.ausente {
    background-color: #dc3545; /* Rojo */
    color: white; /* Texto blanco */
    font-weight: bold; /* Negrita para destacar */
}

.tardanza {
    background-color: #ffc107; /* Amarillo */
    color: black; /* Texto negro */
    font-weight: bold; /* Negrita para destacar */
}

/* Contenedor de botones adaptable */
.button-container {
    display: grid;
    gap: 10px;
    padding: 20px;
    /* En pantallas grandes, muestra tres columnas */
    grid-template-columns: repeat(3, 1fr);
}

/* Adaptación a pantallas más pequeñas */
@media (max-width: 768px) {
    .button-container {
        /* En pantallas medianas, muestra dos columnas */
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .button-container {
        /* En pantallas pequeñas, muestra una columna */
        grid-template-columns: 1fr;
    }
}

/* Estilos para los botones */
button {
    padding: 15px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el pie de página */
footer {
    margin-top: 40px;
    padding: 10px;
    background-color: #f1f1f1;
}

